$dark-blue: #09719b;
$dark-gray-blue: #8fa2ab;
$gray-blue: #9caccc;
$gray-light-blue: #a3c0cc;
$light-gray-blue: #d9dbdc;
$very-dark-blue: #315568;
$very-dark-gray-blue: #424a52;
$very-dark-gray: #4a4a4a;
$white: #fff;

$altbackground: $dark-blue;
$altforeground: $dark-blue;
$background: $white;
$border: $light-gray-blue;
$foreground: $white;
$highlight: #09769f;
$linkforeground: $very-dark-blue;

// sass-lint:disable no-color-literals
$blue-gray-gradient: linear-gradient(180deg, #09719b 0%, #09719b 2.36%, #424a52 100%);
// sass-lint:enable no-color-literals

// TODO: decode how do we import variables by scss import or css-modules composes
