$dark-blue: #09719b;
$dark-gray-blue: #8fa2ab;
$gray-blue: #9caccc;
$gray-light-blue: #a3c0cc;
$light-gray-blue: #d9dbdc;
$grey-30-opacity: rgba(35, 39, 44, .3);
$grey: #8e9297;
$very-light-green: #e8efe0;
$very-dark-green: #032533;
$very-dark-blue: #315568;
$very-dark-gray-blue: #424a52;
$very-dark-gray: #4a4a4a;
$almost-black: #262b2f;
$white: #fff;
$black: #000;
$neufund-green: #d5e20f;

$altbackground: $dark-blue;
$altforeground: $dark-blue;
$background: $white;
$border: $light-gray-blue;
$foreground: $white;
$highlight: $dark-blue;
$linkforeground: $very-dark-blue;
$shadow-for-gradient-area: $almost-black;
$shadow-for-white-column: $very-dark-blue;

// sass-lint:disable no-color-literals
$blue-gray-gradient: linear-gradient(180deg, #09719b 0%, #09719b 2.36%, #424a52 100%);
// sass-lint:enable no-color-literals

// TODO: decode how do we import variables by scss import or css-modules composes
