@import '../styles/colors';
@import '../styles/dimensions';

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-area {
  position: relative;
  flex: 1;
  box-shadow: inset 0 .063rem .188em 0 $shadow-for-gradient-area;
  background: $blue-gray-gradient;
  padding-bottom: $footer-height;
}

.width-limiter {
  margin-right: auto;
  margin-left: auto;
  max-width: 82.875rem;
}
