@import '../styles/colors';
@import '../styles/dimensions';
@import '../styles/fonts';

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// TODO: Move to colors
$shadow-color2: #262b2f;

.content-area {
  position: relative;
  flex: 1;
  box-shadow: inset 0 .063rem .188em 0 $shadow-color2;
  background: $gradient1;
  padding-bottom: 1rem;
}

.width-limiter {
  margin-right: auto;
  margin-left: auto;
  max-width: 82.875rem;
}
