@import '../styles/colors';
@import '../styles/fonts';

%general-button {
  @extend %montserrat;
  display: inline-block;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 0 3.125rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
}

%square {
  @extend %general-button;
  border-radius: .25rem;
}

%round {
  @extend %general-button;
  border-radius: 1.25rem;
}

.square-button {
  @extend %square;
  box-shadow: 0 .125rem .25rem 0 $gray-light-blue;
  background-color: $altbackground;
  color: $foreground;
  font-size: 1rem;

  &:hover {
    outline: none;
    background-color: $highlight;
  }
}

.border-button {
  @extend %square;
  border: .125rem solid $altforeground;
  box-shadow: 0 .0625rem .0625rem 0 $light-gray-blue;
  background-color: $background;
  color: $altforeground;
  font-weight: 500;
}

.round-button {
  @extend %round;
  box-shadow: 0 .0625rem .0625rem 0 $very-dark-blue;
  background: $blue-gray-gradient;
  color: $foreground;
}

.round-header-button {
  @extend  %round;
  box-shadow: 0 .0625rem .0625rem 0 $gray-light-blue;
  background: $blue-gray-gradient;
  color: $foreground;
}

.border-header-button {
  @extend  %round;
  border: .0625rem solid $very-dark-blue;
  box-shadow: 0 .0625rem .0625rem 0 $gray-light-blue;
  background-color: $white;
  color: $very-dark-blue;
  font-size: .9375rem;
  font-weight: 300;
}
