@import '../styles/colors';
@import '../styles/fonts';

.footer {
  @extend %montserrat;
  height: 1rem;
  text-align: right;
  line-height: 1;
  color: $dark-gray-blue;
  font-size: .75rem;
  font-weight: 300;
}
