@import '../styles/colors';
@import '../styles/fonts';
@import '../styles/dimensions';

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  @extend %montserrat;
  height: $footer-height;
  text-align: right;
  line-height: 1;
  color: $dark-gray-blue;
  font-size: .75rem;
  font-weight: 300;
}
