@import '../styles/colors';
@import '../styles/fonts';

.header {
  @extend %montserrat;

  border-bottom: .0625rem solid $border;
  height: 4.375rem;
  line-height: 4.375rem;
}

.logo-container {
  min-height: 1.875rem;
}

.logo {
  // TODO: border should not take whole height of header - check designs
  border-right: .0625rem $very-dark-gray-blue solid;
  background-image: url('../images/header_neufund_logo.png');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.875rem;
  width: 100%;
  height: 100%;
}

.main-area {
  display: flex;
  justify-content: space-between;
}

.title {
  color: $very-dark-gray;
}

.status {
  padding-right: 2rem;
  color: $linkforeground;
  font-size: .9375rem;
}

.register {
  display: block;
  background: $blue-gray-gradient;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $foreground;
  font-size: .9375rem;
}
