@import '../styles/colors';
@import '../styles/dimensions';
@import '../styles/fonts';

.header {
  @extend %montserrat;
  height: $header-height;
  line-height: $header-height;
  color: $white;
  font-size: .9375rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user {
  margin-left: 1.25rem;
}

.icon-style {
  color: $white !important; // sass-lint:disable-line no-important
}
