@import '../styles/colors';
@import '../styles/fonts';

$back-button-color: #e8efe0;

.process-indicator {
  @extend %montserrat;
}

.column {
  height: 70px;
  line-height: 70px;
}

.back {

  display: flex;
  flex-direction: column;
  align-items: center;

  .caption {
    display: block;
    text-transform: uppercase;
    line-height: 1;
    color: $back-button-color;
    font-size: .5rem;
  }
}

.text {
  position: relative;

  &::before {
    position: absolute;
    bottom: 29%;
    left: 0;
    border-right: .0625rem solid $grey;
    width: .0625rem;
    height: 42%;
    content: '';
  }
}

.step-number {
  margin-right: 20px;
  margin-left: 20px;
  color: $grey;
  font-size: 14px;
  font-weight: 300;
}

.step-description {
  color: $very-dark-green;
  font-size: 16px;
  font-weight: 500;
}
